*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(JN3.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: rgba(55, 129, 249, 0.626);
    color: rgb(248, 248, 248);
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}